@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

:root {
  --bg-color: #d9e5f3;
  --primary-color: #134077;
  --btn-color: #0057ff;
}

/* utilities */

.debug {
  border: 1px solid firebrick;
  background-color: rosybrown
}

.container {
  height: 100%;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.form-container {
  min-width: 400px;
  width: 800px;
  padding: 0 1rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

/* paddings */

.p-5 {
  padding: 2rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

/* body */

body {
  background-color: var(--bg-color);
}

/* nav */

nav {
  background-color: #ffffff;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 15px 15px -15px #335de5;
  z-index: 10;
}

/* login form */

.login-form {
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  border-radius: 1.2rem;
  z-index: 10;
}

.form-label {
  font-size: .85rem;
  font-weight: 600;
}

.form-input {
  height: 2rem;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  outline: none;
}

.cta {
  padding: 2rem 1rem 0;
  font-size: .9rem;
  font-weight: normal;
  text-align: center;
}

.cta>a {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/* button */

.btn {
  background-color: #0057ff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  background-color: #4482ff;
}

.btn.logout {
  background-color: #e39518;
  text-decoration: none;
}

.btn.logout:hover {
  background-color: #e3b418;
}


.title {
  font-size: 1.75rem;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}

.error {
  text-align: center;
  color: firebrick;
  padding: .75rem 0;
}

.fa-eye {
  color: var(--btn-color);
  cursor: pointer;
  position: absolute;
  bottom: 40%;
  right: 0;
}


/* row */
.row {
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 5rem;
}

/* card */
.card {
  padding: 1.5rem;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  border-radius: 1.2rem;
  max-width: 375px;
  width: 30%;
  gap: .6rem;

}

.event_title {
  font-size: 1.75rem;
  font-weight: 700;
}

.event_date {
  color: lightgrey;
  font-weight: 500;
  font-size: 1.25rem;
}

/* media query */

@media screen and (max-width: 1500px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 960px) {
  .card {
    width: 85%;
    max-width: 400px;
    flex-shrink: 1;

  }
}